@import "../../globalStyles.scss";

.overlay {
  background-color: rgba(0, 0, 0);
  position: fixed;
  inset: 0;
  opacity: 0.9;
}

.popup {
  max-width: 560px;
  height: max-content;
  background-color: var(--bg-color);
  position: fixed;
  inset: 0;
  margin: auto;
  transition: all 0.15s ease;
  display: flex;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 4px;
  border: 2px solid $purple;

  button {
    font-size: 0.67rem;
    border: 1px solid #eee;
    box-shadow: 0.2rem 0.1rem 0 $purple;
    max-width: 10rem;
    background-color: var(--bg-color);
    transition: all 0.1s ease;
    text-align: center;
    padding: 0 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 4px;

    &:active:not(:disabled) {
      box-shadow: 0rem 0rem 0 $purple;
      transform: translateY(0.1rem) translateX(0.1rem);
    }

    @media (max-width: 600px){
      font-size: .8rem;
    }
  }

  & > div:first-of-type {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/looper.svg);
    background-position: 100% 110%;
    background-size: contain;

    h3 {
      @include resalt-this;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0.1rem -0.1rem 0 var(--bg-color);
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(-180deg);
      padding: 1rem;

      @media (max-width: 600px){
        font-size: 3rem;
      }
    }
  }

  & > div:last-of-type {
    flex: 2;
    padding: 1.5rem 2rem;
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > div {
        display: flex;
        flex-direction: column;
      }
      input {
        font-size: 0.67rem;
        border: 1px solid #eee;
        box-shadow: 0.2rem 0.1rem 0 $sunglow;
        max-width: 10rem;
        background-color: var(--bg-color);
        transition: all 1s ease;
        padding: 0.3rem 0.2rem;
        border-radius: 4px;

        &:focus {
          outline: transparent;
        }

        &:disabled {
          opacity: 0.4;
          background-color: #eee;
          box-shadow: 0.2rem 0.1rem 0 gray;
        }

        &:valid {
          box-shadow: 0.2rem 0.1rem 0 $purple;
        }

        @media (max-width: 600px){
          font-size: .8rem;
        }

      }

      textarea {
        font-size: 0.67rem;
        border: 1px solid #eee;
        box-shadow: 0.2rem 0.1rem 0 $sunglow;
        max-width: 10rem;
        background-color: var(--bg-color);
        transition: box-shadow 1s ease;
        resize: none;
        padding: 0.1rem 0.2rem;
        border-radius: 4px;

        &:disabled {
          opacity: 0.4;
          background-color: #eee;
          box-shadow: 0.2rem 0.1rem 0 gray;
        }
        &:focus {
          outline: transparent;
        }

        &:valid {
          box-shadow: 0.2rem 0.1rem 0 $purple;
        }
      }

      label {
        font-size: 0.7rem;
        opacity: 0.7;

        @media (max-width: 600px){
          font-size: .8rem;
        }
      }
    }

    p {
      font-size: 0.65rem;
    }

    h4 {
      font-size: 0.8rem;
      margin-bottom: 0.4rem;
    }
  }
}

.msgSendedContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .msgSendedBtnContainer {
    margin-top: auto;
    display: flex;
    gap: 0.7rem;
    padding: 0 0.6rem 0 0;
    & > button {
      flex: 1;
    }
  }
}

span.closeBtnContainer {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & button {
    all: unset;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem ;
    background-color: transparent;

    &:active:not(:disabled) {
      box-shadow: none;
      transform: translateY(0rem) translateX(0rem);
      scale: .9;
    }
  }

  & img {
    max-width: 1rem;
    aspect-ratio: 1 /1;
  }
}
.show {
  scale: 1;
}

.hide {
  scale: 0;
}
