.container {
  min-height: 1.5rem;
  display: flex;
}

.sep {
  flex: 1;
  background-image: url(../../assets/images/looper.svg);
  background-position: -10% 70%;
  background-size: 40%;
  // background-repeat: no-repeat;
}

.sep2 {
  flex: 1;
  background-image: url(../../assets/images/looper.svg);
  background-position: 110% 80%;
  background-size: 40%;
  // background-repeat: no-repeat;
}
