@import "../../globalStyles.scss";

.container {
  min-height: 2rem;
  display: flex;
  padding: 0.2rem 0.6rem;
  justify-content: space-between;

  & nav {
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      gap: 1rem;

      & li {
        font-size: 0.7rem;
        cursor: pointer;
        transition: all 0.2s ease;
        @include line-anim;

        &:hover {
          @include resalt-this;
        }

        a {
          all: unset;
        }
      }
      @media (max-width: 730px) {
        display: none;
      }
    }
  }
}

.imgContainer {
  & > img {
    display: block;
    width: 6rem;
  }
}

.btnContainers {
  display: flex;
  gap: .6rem;
  align-items: center;

  & button:not(.menuHidden) {
    display: flex;

    border: 1px solid $purple;
    font-size: 0.5rem;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0.1rem 0.6rem;
    height: 1.4rem;
    width: calc(10px + 2vmin);
    background-color: transparent;
    color: $purple;
    border-radius: 4px;

    & img {
      max-width: 0.8rem;
    }
  }
  .menuHidden {
    display: none;
    border: 1px solid $purple;
    font-size: 0.5rem;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0.1rem 0.6rem;
    height: 1.4rem;
    width: calc(10px + 2vmin);
    background-color: transparent;
    border-radius: 4px;

    @media (max-width: 730px) {
      display: flex;
    }
  }
}
