@import "../../globalStyles.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.copyContainer {
  min-height: 1.5rem;
  background-color: black;
  display: flex;
  align-items: center;

  & p {
    font-size: 0.5rem;
    color: #eee;
    margin: var(--global-margin);
  }
}

.footerDetails {
  min-height: 5rem;
  background-color: var(--bg-color);
  margin: var(--global-margin);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;


  & p {
    font-size: 0.6rem;
    &::before {
      content: "•";
      margin-right: 0.5rem;
      color: $purple;
    }
  }

  & img {
    max-width: 6rem;
  }
}

.sep {
  border-left: 1px solid #eee;
  align-self: stretch;
  margin: 1.3rem 0;
}

.rrssContainer {
  display: flex;
  gap: 0.2rem;

  img {
    width: 1.2rem;
    &:hover {
      filter: saturate(5);
    }
  }
  a {
    display: flex;
  }
}
